name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [ 11.0.3, 14, 15, 17, 18-ea ]
    runs-on: ${{ matrix.os }} 

    steps:
    - uses: actions/checkout@v3
    - name: Set up Java
      uses: actions/setup-java@v1
      with:
        java-version: ${{ matrix.java }}
        java-package: jdk
        architecture: x64      
    - name: Update apt cache
      run: sudo apt-get update        
    - name: Install dependencies
      run: sudo apt-get install -y libreoffice-dev
    - name: Set up Gradle
      uses: gradle/gradle-build-action@67421db6bd0bf253fb4bd25b31ebb98943c375e1
    - name: Show versions
      run: |
        java --version
        ./gradlew --version        
    - name: List before build
      run: |
        pwd
        ls -asl            
    - name: Build
      run: |
        ./gradlew build
    - name: List after build
      run: |
        pwd
        ls -asl            
    - name: Test the build
      continue-on-error: true
      run: |
        java -cp "./lib/*" test.Main
