name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [ 16, 17, 18, 19]        
    runs-on: ${{ matrix.os }} 

    steps:
    - uses: actions/checkout@v3
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        distribution: 'temurin'
        java-version: ${{ matrix.java }}
    - name: Update apt cache
      run: sudo apt-get update        
    - name: Install dependencies
      run: sudo apt-get install -y libreoffice-dev libreoffice libreoffice-dev
        libatk-wrapper-java libatk-wrapper-java-jni libunoloader-java
    - name: Remove local gradle
      run: |
        pwd
        rm -rfv gradle
        rm -rfv gradlew        
        rm -rfv gradlew.bat
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
    - name: Show java version
      run: |
        which java
        java --version
    - name: Show gradle version
      run: |
        which gradle
        gradle --version
    - name: Show libreOffice version
      run: |
        which libreoffice
        libreoffice --version
    - name: List before build
      run: |
        pwd
        ls -asl            
    - name: Build
      run: |
        gradle build
    - name: List after build
      run: |
        pwd
        ls -asl            
    - name: Test the build
      continue-on-error: true
      run: |
        java -cp "./lib/*" test.Main
