name: Java CI with Gradle

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  build:

    strategy:
      matrix:
        os: [ubuntu-latest]
        java: [ 17]        
    runs-on: ${{ matrix.os }} 

    steps:
    - uses: actions/checkout@v3
    - name: Set up Java ${{ matrix.java }}
      uses: actions/setup-java@v3
      with:
        java-version: ${{ matrix.java }}
        distribution: 'adopt'
    - name: Show java version
      run: |
        which java
        java --version        
    - name: Update apt cache
      run: sudo apt-get update        
    - name: Install dependencies
      run: sudo apt-get install -y --quiet libreoffice-dev libreoffice libreoffice-dev
        libatk-wrapper-java libatk-wrapper-java-jni libunoloader-java
    - name: Show libreOffice version
      run: |
        which libreoffice
        libreoffice --version        
    - name: Remove local gradle
      run: |
        pwd
        rm -rfv gradle
        rm -rfv gradlew gradlew.bat
    - name: List before build
      run: |
        pwd
        ls -asl            
    - name: Setup Gradle
      uses: gradle/gradle-build-action@v2
      with:
        arguments: build --scan     
    - name: Show gradle version
      run: |
        which gradle
        gradle --version        
#     - name: Build
#       run: |
#         ./gradlew build
    - name: List after build
      run: |
        pwd
        ls -asl            
    - name: Test the build
      continue-on-error: true
      run: |
        java -cp "./lib/*" test.Main
